<launch>
  <arg name="scan_topic" default="/laser_scan"/>
  <arg name="map_topic" default="/map"/>

  <!-- ROS navigation stack move_base -->
  <remap from="scan"             to="$(arg scan_topic)"/>  <!-- see costmap_common_params_2d.yaml -->
  <remap from="map"              to="$(arg map_topic)"/>   <!-- see global_costmap_params.yaml -->
        
  <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <rosparam file="$(find pwc_navigation)/files/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find pwc_navigation)/files/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find pwc_navigation)/files/local_costmap_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find pwc_navigation)/files/global_costmap_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find pwc_navigation)/files/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
